.#*
.claude/file-history/
.claude/history.jsonl
.claude/projects/
.claude/shell-snapshots/
.claude/settings.local.json
.claude/statsig/
.claude/todos/
.config/zed/prompts/
.config/zsh/.iterm2/
.config/zsh/.iterm2_shell_integration.zsh
.config/zsh/.zsh_sessions/
.DS_Store
.emacs.d/elpa/archives
.emacs.d/url
.gnupg/random_seed
.idea
.ssh/1Password/
.ssh/known_hosts
.ssh/sock
.zcompdump
.zsh_history
*.iml
*.log
*.o
*.orig
*.pyc
*.rej
*.swp
*~
guide
Icon
linux.lnk/.config/i3/conf/i3bar.conf
linux.lnk/.config/i3status/config
linux.lnk/.config/wm/conf/theme.conf
