.build/
.DS_Store
.zsh_history
*.bak
*.log
*.orig
config/i3/conf/i3bar.conf
config/i3/conf/theme.conf
config/i3status/config
config/karabiner/automatic_backups/
config/kitty/current-theme.conf
config/kitty/themes.conf
config/sway/conf/swaybar.conf
config/wm/conf/theme.conf
config/zed/prompts/
dot.emacs.d/
dot.gnupg/*
dot.ssh/1Password/
dot.ssh/known_hosts*
dot.zsh/.zcompdump
dot.zsh/.zsh_sessions/
