:root {
    --color-bg-0: #103c48;
    --color-bg-1: #184956;
    --color-bg-2: #2d5b69;
    --color-dim-0: #72898f;
    --color-fg-0: #adbcbc;
    --color-fg-1: #cad8d9;

    --color-red: #fa5750;
    --color-green: #75b938;
    --color-yellow: #dbb32d;
    --color-blue: #4695f7;
    --color-magenta: #f275be;
    --color-cyan: #41c7b9;
    --color-orange: #ed8649;
    --color-violet: #af88eb;

    --color-br-red: #ff665c;
    --color-br-green: #84c747;
    --color-br-yellow: #ebc13d;
    --color-br-blue: #58a3ff;
    --color-br-magenta: #ff84cd;
    --color-br-cyan: #53d6c7;
    --color-br-orange: #fd9456;
    --color-br-violet: #bd96fa;
}
