:root {
    --sans-serif: "Inter", sans-serif;
    --serif: serif;
    --monospace: monospace;
}

body,
#write {
    font-family: var(--sans-serif);

    font-variant-ligatures: common-ligatures discretionary-ligatures
        historical-ligatures contextual;
    font-feature-settings:
        "liga" 1,
        "calt" 1,
        "dlig" 1,
        "hlig" 1,
        "clig" 1;
    -webkit-font-feature-settings:
        "liga" 1,
        "calt" 1,
        "dlig" 1,
        "hlig" 1,
        "clig" 1;
    -moz-font-feature-settings:
        "liga" 1,
        "calt" 1,
        "dlig" 1,
        "hlig" 1,
        "clig" 1;
    text-rendering: optimizeLegibility;
}
